# MONGO_URI = 
MONGO_URI = your mongodb uri
JWT_SECRET = your jwt secret
PORT = your port number

# Cloudinary
CLOUD_NAME= your cloud name
API_KEY = your api key
API_SECRET= your api secret


# secret key and frontend url
SECRET_KEY = your secret key
FRONTEND_URL = http://localhost:5173
SESSION_SECRET = your session secret


NODE_ENV = "development"
#esewa 
ESEWA_SECRET_KEY="8gBm/:&EnhH.1/q"
BACKEND_URI = "http://localhost:7777"
ESEWA_PAYMENT_URL = "https://rc-epay.esewa.com.np"
ESEWA_PRODUCT_CODE=EPAYTEST
client_id=JB0BBQ4aD0UqIThFJwAKBgAXEUkEGQUBBAwdOgABHD4DChwUAB0R
client_secret=BhwIWQQADhIYSxILExMcAgFXFhcOBwAKBgAXEQ==
eSewaID=9806800001/2/3/4/5
Password=Nepal@123
MPIN: 1122 (for application only)
Token:123456






# oauth
GOOGLE_CLIENT_ID= your google client id
GOOGLE_CLIENT_SECRET= your google client secret
# GOOGLE_REDIRECT_URI=http://localhost:3000/api/auth/callback/google




# send mail

SMTP_HOST = smtp.gmail.com
SMTP_PORT = 465
SMTP_SERVICE = gmail
SMTP_MAIL = your smtp mail
SMTP_PASS = your smtp password
ACTIVATION_EXPIRY = 24 * 60 * 60 * 1000
EMAIL_USER="SamriddhiGyanService"

# Stripe keys
Note: in this stripe publishable key , i directly put the value of publishable key into checkoutpage.jsx file so , if you want to change the publishable key then change it from the checkoutpage.jsx file .
STRIPE_PUBLISHABLE_KEY = your stripe publishable key 
STRIPE_SECRET_KEY = your stripe secret key
STRIPE_WEBHOOK_SECRET = your stripe webhook secret



# google 
